* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Включает переключение между светлой и тёмной темой: */
  /* color-scheme: light dark; */
  /* Универсальная единица измерения CSS: */
  --i: calc(1vw + 1vh);
  /* Пример использования: calc(var(--i) * 2.5) */
  /* --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
  --transition: 1.25s cubic-bezier(.2, .5, 0, 1); */

  --light-color: #f5f5f5;
  --dark-color: #151515;
  --header-color: #000099;
  --link-hover-color: #1122ff;

  /* --light-border: rgb(255 255 255 / .09);
  --dark-border: rgb(0 0 0 / .09);

  --light-hover: rgb(255 255 255 / .05);
  --dark-hover: rgb(0 0 0 / .05);

  --light-step: rgb(255 255 255 / .025);
  --dark-step: rgb(0 0 0 / .025); */

}

@font-face {
	font-family: Roboto;
	src: url(./fonts/RobotoCondensed.ttf);
}

html {
  font-size: 17px;
  scroll-behavior: smooth;
}

html, body {
  max-width: 100vw;
  min-width: 360px;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  /* outline: 5px dotted red; */
  /* background-color: yellow; */
  font-family: Roboto;
  line-height: 1.4;
  /* padding: calc(var(--i) * 1); */
  display: grid;
  grid-template-columns: 30vw 70vw;
  /* grid-gap: calc(var(--i) * 0.5); */
  align-content: start;
  justify-content: center;
  /* background-color: #cccccc; */
}



/* Стили общих элементов (не макет) */

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.content-section-article__example button {
  min-width: 10rem;
  min-height: 3rem;
  font-size: 1rem;
}

.button-to-start {
  width: 7rem;
  height: 2rem;
  font-size: 1.1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content-section-article__example input {
  min-width: 10rem;
  min-height: 2rem;
  font-size: 1rem;
}



/* Стили макета */

.mobile-menu {
  display: none;
}

.menu-container {
  display: none;
}


/* Левое меню навигации */

.left-bar {
  /* outline: 2px solid blue; */
  min-height: 100vh;
  padding: calc(var(--i) * 0.5);
  padding-left: calc(var(--i) * 1);

}

.left-bar__logo {
  /* outline: 2px solid red; */
  height: calc(var(--i) * 9);
  /* padding: calc(var(--i) * 1); */
}

.left-bar__logo img {
  max-width: 100%;
  height: auto;
  display: block;
  transform: translateY(calc(var(--i) * -4));
}

.left-bar__menu {
  /* outline: 2px solid violet; */
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
  url(images/menu-bg-54.png);
  background-position: center;
  background-size: cover;

}


/* .bg-left-menu-container{
  position: absolute;
  z-index: -1;
} */


.nav-list {
  /* outline: 2px solid red; */
  display: grid;
  list-style-type: none;
  padding: calc(var(--i) * 0.5);
}

.nav-item {
  /* outline: 2px solid blue; */
  margin-top: calc(var(--i) * 0.5);
  margin-bottom: calc(var(--i) * 0.5);
  padding: calc(var(--i) * 0.2);
  border-bottom: 2px solid var(--header-color);
  cursor: pointer;
  &:hover {
    border-bottom: 2px solid var(--link-hover-color);
  }
}

.nav-item a {
  color: var(--header-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  &:hover {
    color: var(--link-hover-color);
  }
}



/* Остальная страница (без левого меню) */

.page {
  /* outline: 2px solid green; */
  min-height: 100vh;
  padding: calc(var(--i) * 0.5);
  display: grid;
  align-content: start;
  justify-content:stretch;
  grid-template-rows: 1fr 3fr fit-content;
  grid-gap: calc(var(--i) * 1);
}


/* Внутри основной страницы: */

/* Хэдер */
.page-header {
  /* outline: 2px solid brown; */
  padding: calc(var(--i) * 0.3);
  display: grid;
  align-content: start;
  justify-content: stretch;
}



.page-title, .page-subtitle {
  /* outline: 2px dashed black; */
  color:var(--header-color);
  text-align: center;
  margin-bottom: calc(var(--i) * 0.5);
}



/* Мэйн */
.page-main {
  /* outline: 2px solid magenta; */
  padding: calc(var(--i) * 0.3);
  min-height: 100vh;
  display: grid;
  align-content: start;
  justify-content: stretch;
  grid-gap: calc(var(--i) * 2);
}

.content-section {
  /* outline: 2px dashed black; */
  /* Ограничения максимальной ширины, если будут слишком широкие фрагменты кода */
  max-width: 69vw;
  /* Следующие два правила  заставляют принудительно переносить слова,
  если они не помещаются по ширине */
  word-break: break-all;
  overflow-wrap: break-word;
  padding: calc(var(--i) * 0.5);
  background-color: #efefff;
  border-radius: calc(var(--i) * 0.5);
}

.content-section__header {
  margin: calc(var(--i) * 0.3);
}

.content-section__article{
  /* outline: 2px dotted blue; */
  max-width: 66vw;
  /* word-break: break-all;
  overflow-wrap: break-word; */
  overflow-x: auto;
  padding: calc(var(--i) * 0.3);
}

.content-section-article__header {
  margin-top: calc(var(--i) * 0.5);
  margin-bottom: calc(var(--i) * 0.5);
}

.content-section-article__code {
  /* outline: 2px dotted green; */
  max-width: 65vw; 
  /* word-break: break-all;
  overflow-wrap: break-word; */
  margin-bottom: calc(var(--i) * 1.5);
  font-size: 1.1rem;
}

.content-section-article__example {
  margin-bottom: calc(var(--i) * 2);
}

.content-section-article__decription {
  word-break: normal;   /* Перенос работает с одним этим свойством */
  overflow-wrap: break-word;   /* Возможно не нужно */
  white-space: normal;    /* Возможно не нужно */
  text-align: justify;
}

/* table {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
th, td {
  border: 1px solid black;
  padding: 0.2vh 0.5vw;
} */


/* Стили футера */

.page-footer {
  /* outline: 2px solid gold; */
  padding: calc(var(--i) * 0.3);
}



/* Медиа-запросы: */

/* Для телевизоров выше 1k: */
@media (min-width: 1921px) {
  html {
    font-size: 40px;
  }

}

/* Для мониторов от 1281 до 1920 (1k): */
@media (min-width: 1281px) and (max-width: 1920px) {
  html {
    font-size: 30px;
  }

}

/* Для планшетов от 901 до 1280: */
@media (min-width: 901px) and (max-width: 1280px) {
  html {
    font-size: 20px;
  }

}

/* Для Смартфонов от 641 до 900: */
@media (min-width: 641px) and (max-width: 900px) {
  html {
    font-size: 16px;
  }

}


/* Для Смартфонов 360x640 вертикально и горизонтально
    или от 361 до 640 вертикально: */

@media (min-width: 360px) and (max-width: 640px) {

  html {
    font-size: 14px;
  }

  body {
    /* outline: 5px dotted red; 
    background-color: yellow; */
    /* line-height: 1.4; */
    padding: calc(var(--i) * 1);
    display: grid;
    grid-template-columns: 100%;
    align-content: start;
    justify-content: center;
  }

  .left-bar {
    display: none;
  }

  .content-section {
    max-width: 88vw;
  }

  .content-section__article{
    max-width: 85vw;
  }

  .content-section-article__code {
    max-width: 82vw; 
  }




  /* Стили реализации раскрывающегося меню через <details> */
  details.mobile-menu {
    display: block;
    position: relative;

    & summary {
      list-style: none;
      cursor: pointer;
      font-size: 1.2rem;
      color: blue;
    }

    & .mobile-menu summary::-webkit-details-marker {
      display: none;
    }

    & .mobile-menu nav {
      background: #444;
      display: flex;
      flex-direction: column;
    }

    & .mobile-menu nav a {
      color: white;
      text-decoration: none;
      padding: 1rem;
      border-top: 1px solid #555;
    }

  }


  /* Стили реализации раскрывающегося меню через :has */
  .menu-container {
    display: block;
    position: relative;

    /* Кнопка включения меню */
    & .menu-toggle {
      display: block;
      background: none;
      border: none;
      color: black;
      font-size: 2rem;
      cursor: pointer;
    }

    & nav {
      /* outline: 2px solid blue; */
      padding: calc(var(--i) * 1);
      overflow-y: scroll;
      height: 0;
      opacity: 0;
      transform: translateY(-10px);
      transition: height 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
    }

    & .nav-list {
      /* outline: 2px solid red; */
      display: grid;
      background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                  url(images/menu-bg.jpg);
      background-position: center;
      background-size: cover;
      list-style-type: none;
      border-radius: calc(var(--i) * 1);
    }

    & .nav-item {
      /* outline: 1px dashed black; */
      margin: calc(var(--i) * 0.5);
      padding-bottom: calc(var(--i) * 0.2);
      border-bottom: 1px solid var(--header-color);
    }

    & .nav-item a {
      color: var(--header-color);
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      &:hover {
        color: var(--link-hover-color);
      }
      &:active {
        color: var(--link-hover-color);
      }
    }

      /* Показ меню, когда кнопка имеет класс .open (через :has) */
    &:has(.menu-toggle.open) nav {
      height: 70vh;
      opacity: 1;
      transform: translateY(0);
    } 
  }


}


/* Для Смартфонов менее 360px не поддерживается: */
@media (max-width: 359.9px) {
  body {
    background-color: red;
  }
  .left-bar {
    display: none;
  }
  .page {
    display: none;
  }
  body::after {
    width: 99vw;
    margin-top: 10vh;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    content: "При размере экрана менее 360px сайт не работает. Попробуйте горизонтальную ориентацию устройства";
    color: gold
  }
}






._typography_html {
  outline: 2px solid red;
  margin: 10vmin;
  padding: 5vmin;
  width: fit-content;
}
